.elementary{
	background: #fff;
	color: #11253D;
	border-radius: 1rem;
	margin-top: 1.5rem;
	padding: 5rem 0;
	&__block{
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	&__item{
		display: flex;
		flex-direction: row;
		border: 1px solid #E5E5E5;
		border-radius: 1rem;
		overflow: hidden;
		min-height: 14rem;
		transition: .4s;
		&:hover{
			box-shadow: 0 10px 20px #cdcdcd5e;
		}
		&-title{
			font-weight: 500;
			font-size: 2rem;
			line-height: 140%;
			color: #11253D;
		}
		&-text{
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 140%;
			color: #11253D;
			opacity: 0.6;
			margin-top: 1.5rem;
		}
		&-aside{
			width: 4.5rem;
			background: rgba(250, 241, 77, 0.15);
			flex-shrink: 0;
			position: relative;
			img{
				position: absolute;
				top: 2rem;
				right: -2rem;
				width: 4rem;
				height: 4rem;
			}
		}
		&-main{
			padding: 2rem 3rem;
		}
	}
}