.promo{
	background: #fff;
	color: #11253D;
	border-radius: 1rem;
	margin-top: 1.5rem;
	padding: 5rem 0;
	&__container{
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	&__item{
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		border: 1px solid #E5E5E5;
		border-radius: 1rem;
		min-height: 13rem;
		padding: 3rem;
		&-text{
			position: relative;
			z-index: 1;
			font-weight: 500;
			font-size: 2rem;
			line-height: 120%;
			max-width: 13rem;
		}
		&-pic{
			position: absolute;
			right: -1rem;
			bottom: 0;
		}
	}
}