.popup{
    @media (min-width: 576px) {

    }
    @media (min-width: 768px) {
        .form{
            padding: 3rem 1.5rem;
            &__title {
                font-size: 2rem;
            }
        }
    }
    @media (min-width: 992px) {
        .form{

            &__items{
                grid-template-columns: 1fr;
                grid-template-areas: "i01" "i02" "i03" "i04" "i05";
            }
        }
    }
    @media (min-width: 1200px) {
        

    }
}