.footer{
    background: #3D4050;
    padding: 3rem 0;
    &__container{
        display: flex;
        flex-direction: column-reverse;
        @media (min-width:768px) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__logo{
        font-size: 1.4rem;
        line-height: 120%;
        color: #fff;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
        &:nth-child(1){
            margin: 0;
            @media (min-width:768px) {
                width: 100%;
                order: 3;
                margin-top: 2rem;
            }
            @media (min-width:1200px) {
                width: 33%;
                order: 1;
                margin: 0;
            }
        }
        &:nth-child(2){
            @media (min-width:768px) {
                width:50%;
                justify-content: flex-end;
                order: 1;
                margin: 0;
            }
            @media (min-width:1200px) {
                width: 33%;
                order: 2;
                justify-content: center;
                position: relative;
                &:before{
                    content: '';
                    height: 2rem;
                    width: .1rem;
                    background: #C3C3C3;
                    position: absolute;
                    left: -1rem;
                    top: 0;
                }
                &:after{
                    content: '';
                    height: 2rem;
                    width: .1rem;
                    background: #C3C3C3;
                    position: absolute;
                    right: 1rem;
                    top: 0;
                }
            }
        }
        &:nth-child(3){
            @media (min-width:768px) {
                width:50%;
                order: 2;
                margin: 0;
                justify-content: flex-start;
            }
            @media (min-width:1200px) {
                width: 33%;
                order: 3;
                justify-content: center;
            }
        }
    }
    &__item{
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 1rem;
        @media (min-width:992px) {
            flex-direction: row;
            align-items: center;
        }
        @media (min-width:1200px) {
            margin: 0 1rem 0 0;
        }
        &-pic{
            margin-bottom: .5rem;
            @media (min-width:1200px) {
                margin: 0 1rem 0 0;
            }
        }
        &-text{
            font-size: 1.3rem;
            line-height: 120%;
            &._clear{
                color: #C3C3C3;
            }
        }
    }
}